<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Greegodriverapp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>EE871819FAD0D73E44668E0DDCFBB265CB2D1DF7</string>
				<key>dateExpires</key>
				<string>30/03/19</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EE871819FAD0D73E44668E0DDCFBB265CB2D1DF7</string>
						<key>dateExpires</key>
						<string>30/03/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5W64V38EUB</string>
						<key>name</key>
						<string>Ravi Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EE871819FAD0D73E44668E0DDCFBB265CB2D1DF7</string>
						<key>dateExpires</key>
						<string>30/03/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>CTCheckbox.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5W64V38EUB</string>
						<key>name</key>
						<string>Ravi Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EE871819FAD0D73E44668E0DDCFBB265CB2D1DF7</string>
						<key>dateExpires</key>
						<string>30/03/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>EVReflection.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5W64V38EUB</string>
						<key>name</key>
						<string>Ravi Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EE871819FAD0D73E44668E0DDCFBB265CB2D1DF7</string>
						<key>dateExpires</key>
						<string>30/03/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FloatRatingView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5W64V38EUB</string>
						<key>name</key>
						<string>Ravi Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EE871819FAD0D73E44668E0DDCFBB265CB2D1DF7</string>
						<key>dateExpires</key>
						<string>30/03/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5W64V38EUB</string>
						<key>name</key>
						<string>Ravi Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EE871819FAD0D73E44668E0DDCFBB265CB2D1DF7</string>
						<key>dateExpires</key>
						<string>30/03/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5W64V38EUB</string>
						<key>name</key>
						<string>Ravi Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EE871819FAD0D73E44668E0DDCFBB265CB2D1DF7</string>
						<key>dateExpires</key>
						<string>30/03/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5W64V38EUB</string>
						<key>name</key>
						<string>Ravi Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EE871819FAD0D73E44668E0DDCFBB265CB2D1DF7</string>
						<key>dateExpires</key>
						<string>30/03/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>PKHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5W64V38EUB</string>
						<key>name</key>
						<string>Ravi Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EE871819FAD0D73E44668E0DDCFBB265CB2D1DF7</string>
						<key>dateExpires</key>
						<string>30/03/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5W64V38EUB</string>
						<key>name</key>
						<string>Ravi Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EE871819FAD0D73E44668E0DDCFBB265CB2D1DF7</string>
						<key>dateExpires</key>
						<string>30/03/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Rswift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5W64V38EUB</string>
						<key>name</key>
						<string>Ravi Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EE871819FAD0D73E44668E0DDCFBB265CB2D1DF7</string>
						<key>dateExpires</key>
						<string>30/03/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SVPinView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5W64V38EUB</string>
						<key>name</key>
						<string>Ravi Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EE871819FAD0D73E44668E0DDCFBB265CB2D1DF7</string>
						<key>dateExpires</key>
						<string>30/03/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5W64V38EUB</string>
						<key>name</key>
						<string>Ravi Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EE871819FAD0D73E44668E0DDCFBB265CB2D1DF7</string>
						<key>dateExpires</key>
						<string>30/03/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Stripe.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5W64V38EUB</string>
						<key>name</key>
						<string>Ravi Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EE871819FAD0D73E44668E0DDCFBB265CB2D1DF7</string>
						<key>dateExpires</key>
						<string>30/03/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SwiftCop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5W64V38EUB</string>
						<key>name</key>
						<string>Ravi Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EE871819FAD0D73E44668E0DDCFBB265CB2D1DF7</string>
						<key>dateExpires</key>
						<string>30/03/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SwiftLocation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5W64V38EUB</string>
						<key>name</key>
						<string>Ravi Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EE871819FAD0D73E44668E0DDCFBB265CB2D1DF7</string>
						<key>dateExpires</key>
						<string>30/03/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5W64V38EUB</string>
						<key>name</key>
						<string>Ravi Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EE871819FAD0D73E44668E0DDCFBB265CB2D1DF7</string>
						<key>dateExpires</key>
						<string>30/03/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyUserDefaults.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5W64V38EUB</string>
						<key>name</key>
						<string>Ravi Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EE871819FAD0D73E44668E0DDCFBB265CB2D1DF7</string>
						<key>dateExpires</key>
						<string>30/03/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Toucan.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5W64V38EUB</string>
						<key>name</key>
						<string>Ravi Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EE871819FAD0D73E44668E0DDCFBB265CB2D1DF7</string>
						<key>dateExpires</key>
						<string>30/03/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5W64V38EUB</string>
						<key>name</key>
						<string>Ravi Dubey</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>5W64V38EUB.innoviussoftware.Greegodriverapp1</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>5W64V38EUB</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Greegodriverapp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>fecaa093-d91f-4aae-ab18-a0fd974673f6</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: innoviussoftware.Greegodriverapp1</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>5W64V38EUB</string>
				<key>name</key>
				<string>Ravi Dubey</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
