<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>greegotaxiapp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>B872D11E2B0D4BE1D7BBC6D1BDA820DBDC704A79</string>
				<key>dateExpires</key>
				<string>4/12/19</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B872D11E2B0D4BE1D7BBC6D1BDA820DBDC704A79</string>
						<key>dateExpires</key>
						<string>4/12/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5W64V38EUB</string>
						<key>name</key>
						<string>Ravi Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B872D11E2B0D4BE1D7BBC6D1BDA820DBDC704A79</string>
						<key>dateExpires</key>
						<string>4/12/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>CTCheckbox.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5W64V38EUB</string>
						<key>name</key>
						<string>Ravi Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B872D11E2B0D4BE1D7BBC6D1BDA820DBDC704A79</string>
						<key>dateExpires</key>
						<string>4/12/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>CreditCardValidator.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5W64V38EUB</string>
						<key>name</key>
						<string>Ravi Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B872D11E2B0D4BE1D7BBC6D1BDA820DBDC704A79</string>
						<key>dateExpires</key>
						<string>4/12/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FloatRatingView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5W64V38EUB</string>
						<key>name</key>
						<string>Ravi Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B872D11E2B0D4BE1D7BBC6D1BDA820DBDC704A79</string>
						<key>dateExpires</key>
						<string>4/12/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5W64V38EUB</string>
						<key>name</key>
						<string>Ravi Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B872D11E2B0D4BE1D7BBC6D1BDA820DBDC704A79</string>
						<key>dateExpires</key>
						<string>4/12/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5W64V38EUB</string>
						<key>name</key>
						<string>Ravi Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B872D11E2B0D4BE1D7BBC6D1BDA820DBDC704A79</string>
						<key>dateExpires</key>
						<string>4/12/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5W64V38EUB</string>
						<key>name</key>
						<string>Ravi Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B872D11E2B0D4BE1D7BBC6D1BDA820DBDC704A79</string>
						<key>dateExpires</key>
						<string>4/12/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SANotificationViews.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5W64V38EUB</string>
						<key>name</key>
						<string>Ravi Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B872D11E2B0D4BE1D7BBC6D1BDA820DBDC704A79</string>
						<key>dateExpires</key>
						<string>4/12/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5W64V38EUB</string>
						<key>name</key>
						<string>Ravi Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B872D11E2B0D4BE1D7BBC6D1BDA820DBDC704A79</string>
						<key>dateExpires</key>
						<string>4/12/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SVPinView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5W64V38EUB</string>
						<key>name</key>
						<string>Ravi Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B872D11E2B0D4BE1D7BBC6D1BDA820DBDC704A79</string>
						<key>dateExpires</key>
						<string>4/12/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5W64V38EUB</string>
						<key>name</key>
						<string>Ravi Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B872D11E2B0D4BE1D7BBC6D1BDA820DBDC704A79</string>
						<key>dateExpires</key>
						<string>4/12/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Stripe.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5W64V38EUB</string>
						<key>name</key>
						<string>Ravi Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B872D11E2B0D4BE1D7BBC6D1BDA820DBDC704A79</string>
						<key>dateExpires</key>
						<string>4/12/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5W64V38EUB</string>
						<key>name</key>
						<string>Ravi Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B872D11E2B0D4BE1D7BBC6D1BDA820DBDC704A79</string>
						<key>dateExpires</key>
						<string>4/12/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>YNDropDownMenu.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5W64V38EUB</string>
						<key>name</key>
						<string>Ravi Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B872D11E2B0D4BE1D7BBC6D1BDA820DBDC704A79</string>
						<key>dateExpires</key>
						<string>4/12/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5W64V38EUB</string>
						<key>name</key>
						<string>Ravi Dubey</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>5W64V38EUB.com.innovious.greegotaxi</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>5W64V38EUB</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>greegotaxiapp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>ed46b826-f449-4fa7-ba4f-0f78301e9dd5</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.innovious.greegotaxi</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>5W64V38EUB</string>
				<key>name</key>
				<string>Ravi Dubey</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
